<div class="body-left"></div>
<div class="container">
  <div class="sub-title">
    <h1>Channel your doctor</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="sp-drop" appearance="fill">
        <mat-label>Choose specializaton</mat-label>
        <select matNativeControl>
          <option value="" selected></option>
          <option *ngFor="let sp of specializationList" value="{{ sp }}">
            {{ sp }}
          </option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field class="date-picker">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="myDatePicker" />
        <mat-datepicker-toggle
          [for]="myDatePicker"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <div class="s-btn">
        <button type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
  <div class="doc-list-table">Available doctor table</div>
</div>
