<div class="card" style="width: 60%">
  <div class="card-header">Patient Registration</div>

  <div class="card-body">
    <form>
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="patientName"
          required
        />
      </div>

      <div class="form-group col-12">
        <label for="name">Phone Number</label>
        <input type="text" class="form-control" ngModel name="patientPhoneks" />
      </div>
      <div class="form-group col-12">
        <label for="name">Password</label>
        <input type="text" class="form-control" ngModel name="patientPhoneks" />
      </div>

      <div class="form-group col-12">
        <label for="name">Confirm Password</label>
        <input type="text" class="form-control" ngModel name="patientPhoneks" />
      </div>

      <div class="form-group col-12">
        <button type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>
