<mat-list>
  <mat-list-item class="test-heading">Available Tests </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>PCR Tests</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Antigen Test</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Blood Test</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Urean Test</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>MIR </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>ECG</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>X-Ray</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
